<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      window.BREEZY_INITIAL_PAGE_STATE=<%= @initial_state.html_safe %>;
    </script>

    <title><%= translate(".brand") %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='app'></div>
    <header class="header">
      <nav class="navigation">
        <%= link_to books_path, class: "navigation__logo" do %>
          <%= inline_svg_tag("logo.svg", title: translate(".brand")) %>
        <% end %>

        <details id="order" class="navigation__cart cart">
          <summary>
            <%= inline_svg_tag("cart.svg", class: "icon", title: translate(".cart")) %>
          </summary>

          <div class="cart__content">
            <%= render(partial: Current.order) %>
          </div>
        </details>
      </nav>
    </header>

    <main>
      <div class="flashes">
        <% flash.each do |key, value| %>
          <div class="flash flash--<%= key %>">
            <%= value %>
          </div>
        <% end %>
      </div>

      <%= yield %>
    </main>
  </body>
</html>
