<!DOCTYPE html>
<html>
  <head>
    <title><%= translate(".brand") %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <nav class="navigation">
        <%= link_to books_path, class: "navigation__logo" do %>
          <%= inline_svg_tag("logo.svg", title: translate(".brand")) %>
        <% end %>

        <details
          id="order"
          class="navigation__cart cart"
          data-controller="permanent"
          data-action="turbolinks:before-render@document->permanent#cloneChildren"
          data-turbolinks-permanent
        >
          <summary>
            <%= inline_svg_tag("cart.svg", class: "icon", title: translate(".cart")) %>
          </summary>

          <div class="cart__content">
            <%= render(partial: Current.order) %>
          </div>
        </details>
      </nav>
    </header>

    <main>
      <div
        id="flashes"
        class="flashes"
        data-controller="permanent"
        data-action="turbolinks:before-render@document->permanent#cloneChildren"
        data-permanent-append-value="true"
        data-turbolinks-permanent
      >
        <% flash.each do |key, value| %>
          <div
            class="flash flash--<%= key %>"
            data-controller="temporary"
            data-temporary-delay-value="5000"
          >
            <%= value %>
          </div>
        <% end %>
      </div>

      <%= yield %>
    </main>
  </body>
</html>
